.Rproj.user
.Rhistory
.RData
.Ruserdata
/tmp
/img/spain/regions/2020*
/img/spain/provincias/2020*
/img/spain/provincias/daily-deaths/co*
/img/spain/regions/small_multiple/co*
/img/spain/regions/small_multiple
/img/france/202*
/img/italia/202*
/data/original/spain/shapes/recintos_provinciales_inspire_canarias_etrs89.json
/data/original/spain/shapes/recintos_provinciales_inspire_canarias_wgs84.json
/img/compare/2020*
/img/spain/euskadi/2
/data/original/spain/euskadi/situacion-epidemiologica/*.xlsx
img/spain/regions/*
/img/spain/maps/mapa-coropletas-muertos*
/img/spain/euskadi/20*
/img/italia/2020*
/img/spain/regions/covi*
